h1= title

table
  thead
    tr
      td Metric
      td Value
  tbody
    for val, key in data
      if (key !== 'ips')
        tr
          td #{key}
          td
            if (key !== 'related_domains')
              #{val}
            else
              for related in val
                a(href='/domain/#{related}') #{related}

h2 Ips
table
  thead
    tr
      td IP
      td Score
      td Volume
      td RDNS
      td Base Domain
  tbody
    for ip in data.ips
      tr
        td
          a(href='/ip/#{ip.ip}') #{ip.ip}
        td #{ip.sender_score}
        td #{ip.sender_volume}
        td #{ip.rdns}
        td #{ip.base_domain}