- var invalidKeys = ['ips','startProcess','finishProcess'];
h1= title

table
  thead
    tr
      td Metric
      td Value
  tbody
    for val, key in data
      if (invalidKeys.indexOf(key)<0)
        tr
          td #{key}
          td
            if key !== 'related_domains'
              #{val}
            else
              for related in val
                a(href='/domain/#{related}') #{related}

h2 Ips
table.table
  thead
    tr
      td IP
      td Score
      td Volume
      td RDNS
      td Base Domain
  tbody
    each ip, i in data.ips
      tr(class='#{i%2?"odd":"even"}')
        td
          a(href='/ip/#{ip.ip}') #{ip.ip}
        td #{ip.sender_score}
        td #{ip.sender_volume}
        td #{ip.rdns}
        td #{ip.base_domain}
