- var invalidKeys = ['domains','ip_auth','ss_trend', 'volume_trend','oib_data','is_auth','startProcess','finishProcess'];
script(type='text/javascript')
  var ssTrend = !{data.ss_trend},
    volumeTrend = !{data.volume_trend};

h1
  = title
  a(class='view-link',href="https://senderscore.org/lookup.php?lookup=#{title}")= 'View on senderscore'

table.table
  thead
    tr
      td Metric
      td Value
  tbody
    for val, key in data
      if (invalidKeys.indexOf(key) < 0)
        tr
          if (key === 'companyId')
            td= 'Company'
            td= new Buffer(val,'base64').toString('ascii')
          else
            td #{key}
            td #{val}