script(type="text/javascript")
  var reports = !{JSON.stringify(dataReports)};

h1
  = title
  a(class='view-link',href="https://senderscore.org/lookup.php?lookup=#{title}")= 'View on senderscore'

table.table
  thead
    tr
      td Date
      td Score
      td Volume
      td Blacklist Impact
      td Complaint Rate Impact
      td Unknown Rate Impact
      td Rejected Rate Impact
      td Filtered Rate Impact
      td Infrastructure Impact
  tbody
    for report in dataReports
      tr
        td
          a(href='/ip/#{title}/#{report.processDate}') #{new Date(report.processDate).toLocaleDateString()}
        td #{Math.round(report.sender_score)}
        td #{report.volume}
        td #{report.blacklist_impact}
        td #{report.complaint_rate_impact}
        td #{report.unknown_rate_impact}
        td #{report.rejected_rate_impact}
        td #{report.filtered_rate_impact}
        td #{report.infrastructure_impact}
